<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ entry.title }}</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<p class="nav"><a href="/">MobileFeed</a> &gt; <a href="/feed?url={{ feed_url|quote_plus }}">{{ feed.feed.title }}</a> &gt; {{ entry.title }}</p>
		<p>{{ entry.date }}</p>
		{{ entry.description|safe }}
		{% for content in entry.content %}
			{{ content.value|safe }}
		{% endfor %}
		<p class="nav"><a href="/">MobileFeed</a> &gt; <a href="/feed?url={{ feed_url|quote_plus }}">{{ feed.feed.title }}</a> &gt; {{ entry.title }}</p>
	</body>
</html>
