<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ feed.feed.title }}</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<p class="nav"><a href="/">MobileFeed</a> &gt; {{ feed.feed.title }}</p>
		<ul>
			{% for entry in feed.entries %}
				<li><a href="/entry?feed={{ url|quote_plus }}&amp;entry={{ entry.id|quote_plus }}">{{ entry.title }}</a> {{ entry.published_parsed|datetime }}</li>
			{% endfor %}
		</ul>
		<p class="nav"><a href="/">MobileFeed</a> &gt; {{ feed.feed.title }}</p>
	</body>
</html>
